@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

header {
  height: 100%;
  background-color: cadetblue;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 4fr 1fr;
  height: 100%;
}

.main-nav {
  display: flex;
  align-items: top;
  height: 100%;
  width: 100%;
}

.main-nav__items {
  list-style-type: none;
  height: 30%;
  text-align: center;
}

.main-nav a {
  text-decoration: none;
}

.main-nav__item a {
  color: white;
  width: 100%;
}

.main-nav__item {
  padding-bottom: 40px;
  padding-right: 20px;
  font-size: 20px;
  width: 100%;
}

#logo-title {
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  font-size: 30px;
  color: white;
  height: 10%;
  text-align: left;
  padding-bottom: 60%;
}
