#section-title {
  color: white;
  text-align: right;
  width: 90%;
  margin: 30px auto;
}

.title__message {
  text-align: center;
  z-index: 100;
  color: rgb(5, 87, 83);
  overflow: hidden;
}

.cursor {
  animation: blink 1s infinite;
  width: 1px;
  background-color: rgb(5, 87, 83);
  margin-left: 0.1rem;
  font-weight: 100;
  font-size: 1em;
}

@keyframes blink {
  0% {
    background-color: rgb(5, 87, 83);
  }
  40% {
    background-color: rgb(5, 87, 83);
  }
  50% {
    background-color: transparent;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(5, 87, 83);
  }
}

.cursor.typing {
  animation: none;
}
