* {
  margin: 0;
  padding: 0;
}

.about {
  width: 100%;
}

.about-text {
  width: 50%;
  text-align: justify;
  color: #81d8d0;
  font-size: 20px;
  margin: 0 12px;
  font-weight: bold;
}

.about-section {
  margin: 0;
  padding: 0;
}
